body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#141e30,#243b55);
}

.box{
    background:white;
    padding:30px;
    border-radius:10px;
    text-align:center;
    width:300px;
}

input{
    width:90%;
    padding:10px;
    margin:10px 0;
}

button{
    padding:10px 20px;
    background:#4f46e5;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#372fcf;
}

h3{
    margin-top:20px;
}